<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055821587164-c8saqkjse7bh8u2k6d4cic3j0lss1909.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055821587164-c8saqkjse7bh8u2k6d4cic3j0lss1909</string>
	<key>API_KEY</key>
	<string>AIzaSyBTeZfIOPYiGmlSqUivaPd6HVihIlWKr4o</string>
	<key>GCM_SENDER_ID</key>
	<string>1055821587164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.freightapp</string>
	<key>PROJECT_ID</key>
	<string>push-freightapp</string>
	<key>STORAGE_BUCKET</key>
	<string>push-freightapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055821587164:ios:2bd9866226055d3eb2ca19</string>
	<key>DATABASE_URL</key>
	<string>https://push-freightapp.firebaseio.com</string>
</dict>
</plist>